{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<div class="main lightgreen">
    <div class="container-fluid">
        <div class="search row">
            <div class="col-12">
                <h1 class="white__title">Nouveau mot de passe</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="signin__explaination">Merci de saisir ton nouveau mot de passe</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
            {{ form_start(form) }}
                {{ form_row(form.password, {'label': 'Mot de passe'}) }}
                {{ form_row(form.confirmPassword, {'label': 'Confirme ton mot de passe'}) }}
                {{ form_row(form.token) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-orange">Valider</button>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}


