{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

<div class="main lightgreen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 white__title">
                <h1>Nous contacter</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-5 col-xl-4">
                {% form_theme form 'form/custom_theme.html.twig' %}
                {{ form_start(form, {'attr': {'id': 'contact_form'}})}}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.object) }}
                {{ form_row(form.message) }}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-orange">Envoyer</button>
        </div>
        
        {{ form_end(form) }}   
    </div>
</div>

{% endblock %}

