{% extends 'base.html.twig' %}

{% block title %}Modifier trajet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block javascripts %}

    {{ parent() }}
   <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
       <script>
            $(document).ready(function() {
                $('.js-datepicker').flatpickr({
                });
                
            });
        </script>

{% endblock %}

{% block body %}

<div class="container">  
    <h1>Modifier un trajet</h1>

    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}
                {{ form_row(form.cityDeparture) }}
                {{ form_row(form.placeDeparture) }}
                {{ form_row(form.spot) }}
                {{ form_row(form.departureDate) }}
                {{ form_row(form.departureHour) }}
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Modifier le retour</a>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            {{ form_row(form.returnDate) }}
                            {{ form_row(form.returnHour) }}
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-6">
            {{ form_row(form.car) }}
                <p>Ta voiture n'est pas dans la liste? Ajoutes-en une ici!</p>
                {{ form_row(form.availableSeat) }}
                {{ form_row(form.boardMax) }}
                {{ form_row(form.boardSizeMax) }}
                {{ form_row(form.isSameGender) }}
                {{ form_row(form.price) }}
                {{ form_row(form.rideDescription) }}
                <button type="submit" class="float-right btn btn-success">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>

    {{ include('back_office/ride/_delete_form.html.twig') }}

</div>
{% endblock %}
